:root {
  --btn-primary-color: linear-gradient(90deg, #4a86c0 0%, #3a75ad 100%);
  --btn-disabled-color: #f0f4f7;

  --app-sidebar-width: 250px;

  --bg-primary-color: #f9fafb;
  --bg-secondary-color: #f0f5f9;
  --bg-tertiary-color: #d6e8ff;
  --bg-light-color: #d6e8ff33;

  --primary-blue: #4a86c0;
  --secondary-blue: #659dd3;
  --tertiary-blue: #3a75ad;

  --primary-gray: #343d42;
  --secondary-gray: #606a70;

  --white-color: #fcfcfc;

  --text-primary-color: var(--primary-blue);
  --text-secondary-color: var(--primary-gray);
  --text-placeholder-color: var(--secondary-gray);
  --text-link-color: var(--secondary-blue);

  --bs-border-radius: 1rem;

  /* Override do tema do Bootstrap*/
  --bs-primary: var(--primary-blue);
  --bs-primary-rgb: 74, 134, 192;

  --bs-secondary: var(--secondary-blue);
  --bs-secondary-rgb: 101, 157, 211;

  --bs-body-bg: var(--bg-primary-color);
  --bs-body-bg-rgb: 240, 244, 248;

  --bs-body-color: var(--text-secondary-color);
  --bs-body-color-rgb: 52, 61, 66;

  --bs-link-color: var(--text-link-color);
  --bs-link-hover-color: var(--text-primary-color);

  --transform-hover: scale(1.05);
  --hover-shadow: 0 4px 16px rgba(0, 0, 0, 0.03);

  --card-transition: transform 0.3s ease-in-out;
}

.offcanvas {
  --bs-offcanvas-width: var(--app-sidebar-width);
}
